.container {
    background: white;
}

body {
    background:skyblue;
    
}

 h4{
     text-align: center;
 }

.responsive {
    height: 100%;
    width: 250%;
  margin-left: -75%;
  margin-right: -75%;
    
}

h1 {
    margin-left: 0%;
  margin-right: 0%;
}
