.container {
    background: white;
}

body {
  background-image: linear-gradient(blue, aqua);
  background-size: cover;
}

 img {
  width: 100%;
  height: auto;

}

.responsive {
  max-width:100%;
  max-height:100%;  
}

.btn {
  background-color: rgba(26, 26, 197, 0.657);
}

.col-md-8 {
background-image: url("/img/action-adult-care-339620.jpg");
background-size: cover;
background-repeat: no-repeat;
}

